.her-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid white;
  box-shadow: 0 0 30px rgba(255,255,255,0.8);

  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  animation: floatPhoto 3s ease-in-out infinite;
}

@keyframes floatPhoto {
  0% { transform: translateX(-50%) translateY(0px); }
  50% { transform: translateX(-50%) translateY(-12px); }
  100% { transform: translateX(-50%) translateY(0px); }
}
